.text-center{
  text-align: center;
}

.bg-red{
  background: red;
}

.mx-auto{
  margin: auto;
}

.flex{
  display: flex;
}

.flex{
  flex-direction: column;
}

.item-center{
  align-items: center;
}

